In [1]:
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import load_boston
import pandas as pd

## Carregando os dados

In [2]:
boston = load_boston()
scaler = StandardScaler()
X = scaler.fit_transform(boston["data"])
Y = boston["target"]
names = boston["feature_names"]

## Aplicação de Lasso Regression com diferentes valores de alpha

In [3]:
# Create a function called lasso,
def lasso(alphas):
    '''
    Takes in a list of alphas. Outputs a dataframe containing the coefficients of lasso regressions from each alpha.
    '''
    # Create an empty data frame
    df = pd.DataFrame()
    
    # Create a column of feature names
    df['Feature Name'] = names
    
    # For each alpha value in the list of alpha values,
    for alpha in alphas:
        # Create a lasso regression with that alpha value,
        lasso = Lasso(alpha=alpha)
        
        # Fit the lasso regression
        lasso.fit(X, Y)
        
        # Create a column name for that alpha value
        column_name = 'Alpha = %f' % alpha

        # Create a column of coefficient values
        df[column_name] = lasso.coef_
        
    # Return the datafram    
    return df

In [4]:
# Run the function called, Lasso
lasso([.0001, .5, 10])

   Feature Name  Alpha = 0.000100  Alpha = 0.500000  Alpha = 10.000000
0          CRIM         -0.927866         -0.115265               -0.0
1            ZN          1.081086          0.000000                0.0
2         INDUS          0.139960         -0.000000               -0.0
3          CHAS          0.681771          0.397079                0.0
4           NOX         -2.055877         -0.000000               -0.0
5            RM          2.674402          2.974259                0.0
6           AGE          0.019026         -0.000000               -0.0
7           DIS         -3.103667         -0.170569                0.0
8           RAD          2.660381         -0.000000               -0.0
9           TAX         -2.074993         -0.000000               -0.0
10      PTRATIO         -2.060372         -1.598449               -0.0
11            B          0.849183          0.543139                0.0
12        LSTAT         -3.743418         -3.666144               -0.0

## Perceba que quanto mais o alpha cresce, mais features vão possuir o coeficiente zero.